.bienvenidos {
    width: 80%;
    padding-right: 10px;
    box-sizing: border-box;
}

.footer {
    background-color: rgb(239, 234, 227);
    clear: both;
    color: blueviolet;
    text-align: center;
    padding: 50px 0;
    margin-top: 20px;   
}

.holder {
    max-width: fit-content;
    margin: 0 auto;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: 400;
}